#!/usr/bin/make -f

export PYBUILD_NAME=django-ucamwebauth

%:
	dh $@ --with python2 --buildsystem=pybuild

override_dh_auto_build:
	dh_auto_build
	sed -e '1d' < README.md | markdown_py > README.html

override_dh_auto_clean:
	dh_auto_clean
	rm -f README.html
